In [7]:
#ScanClassification

import pandas as pd
from sqlalchemy import create_engine
import psycopg2

conn1 = psycopg2.connect(
    database="Test_Shivam_Lab",
    user='postgres',
    password='emr123',
    host='192.168.8.98',
    port= '5432'
    )
oracledb = create_engine('oracle://admin:shivam@111.93.11.121:1521/neosoft', echo=False)
oracleConn = oracledb.connect()
postgresdb=create_engine(r'postgresql+psycopg2://postgres:emr123@192.168.8.97/shivam_test_DB',echo=False)
postgresConn= postgresdb.connect()


query=f'''
SELECT SCANCLASSIFICATION,PKID,6776 createdby,CURRENT_DATE createddate,l.LOCNM  FROM admin.SCANCLASSIFICATIONMASTER s
JOIN ip.LOCATIONMAST l on l.LOCID =s.LOCID 
'''
dataframe=pd.read_sql(query.replace("\n"," "),oracleConn)
oracleConn.close()
# dataframe['Active']=[True]*len(dataframe)
# dataframe.rename(columns={
#    'scanclassification':"ScanClassificationName",
#     "pkid":"ShivamScanClassificationId",
#     "createdby":"CreatedBy",
#     "createddate":"CreatedDate"
#     },inplace=True)

# x=dataframe.to_dict('records')
# dataframe.to_sql("ScanClassification",postgresConn,if_exists="append",index=False)
# postgresConn.close()
cursor=conn1.cursor()
for i in dataframe.to_dict('records'):
    ScanClassificationName=i['scanclassification']
    ShivamScanClassificationId=i['pkid']
    LocationName=i['locnm']
    
    pgadminQuery=f''' 
    insert into "ScanClassification"("ScanClassificationName","ShivamScanClassificationId","Active","CreatedBy","CreatedDate","LocationId") 
    select '{ScanClassificationName}','{ShivamScanClassificationId}',true,6776,now(),
    case when exists(select * from "Location" where LOWER("Name")=LOWER('{LocationName}')) 
    THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('{LocationName}') limit 1) else null end returning "ScanClassificationId"
    '''
    cursor.execute(pgadminQuery.replace("\n"," "))
    conn1.commit()
    data=cursor.fetchall()
    print(data)

[(50,)]
[(51,)]
[(52,)]
[(53,)]

In [20]:
#ScanSubClassification

import pandas as pd
from sqlalchemy import create_engine
conn1 = psycopg2.connect(
    database="Test_Shivam_Lab",
    user='postgres',
    password='emr123',
    host='192.168.8.98',
    port= '5432'
    )

oracledb=create_engine(r'oracle://admin:shivam@111.93.11.121:1521/neosoft',echo=False)
postgresdb=create_engine(r'postgresql+psycopg2://postgres:emr123@192.168.8.98/Test_Shivam_Lab',echo=False)


postgresconn=postgresdb.connect()
oracleConn=oracledb.connect()
postgresquery=f''' select "ScanClassificationId","ShivamScanClassificationId" from "ScanClassification" where "ShivamScanClassificationId" is not null '''

postgresdata=pd.read_sql(postgresquery,postgresconn)

postgresdata=postgresdata.to_dict('records')

cursor=conn1.cursor()
for i in postgresdata:
    ScanClassificationId=i['ScanClassificationId']
    ShivamScanClassificationId=i['ShivamScanClassificationId']
    
#     oracleDataQuery=f'''SELECT SUBCLASSIFICATIONNAME ,
#     (SELECT SCANCLASSIFICATION FROM admin.SCANCLASSIFICATIONMASTER s WHERE s.PKID =ss.SCANCLASSIFICATION) 
#     shivamscanclassificationname,ss.SCANCLASSIFICATION,6776 createdby,CURRENT_DATE createddate 
#     FROM ADMIN.SCANSUBCLASSIFICATION  ss WHERE ss.SCANCLASSIFICATION ='{ShivamScanClassificationId}' '''
    
    oracleQuery=f'''
    
    SELECT PKID ,SUBCLASSIFICATIONNAME, SCANCLASSIFICATION, l.LOCNM  FROM ADMIN.SCANSUBCLASSIFICATION s 
    JOIN ip.LOCATIONMAST l ON l.LOCID =s.LOCID 
    where s.SCANCLASSIFICATION ='{ShivamScanClassificationId}'
    
    '''
    
    oracleData=pd.read_sql(oracleQuery.replace("\n"," "),oracleConn)
    oracleData['Active']=[True]*len(oracleData)
    oracleData['ScanClassificationId']=ScanClassificationId
    oracleData.rename(columns={
        'subclassificationname':"ScanSubClassificationName",
        'shivamscanclassificationname':"ShivamScanClassificationId",
        'scanclassification':"ShivamScanClassificationId",
         'createdby':"CreatedBy",
        "createddate":"CreatedDate"
    },inplace=True)
    oracleDatar=oracleData.to_dict('records')
    for oracleData in oracleDatar:
        #ShivamScanClassificationId=oracleData['ShivamScanClassificationId']
        ScanSubClassificationName=oracleData['ScanSubClassificationName']
        locationName=oracleData['locnm']

        pgadminQuery=f''' 
        insert into "ScanSubClassification"("ScanClassificationId",
        "ScanSubClassificationName","CreatedBy","CreatedDate","ShivamScanClassificationId","Active","LocationId")
        select '{ScanClassificationId}','{ScanSubClassificationName}',6776,now(),'{ShivamScanClassificationId}',true,
        case when exists(select * from "Location" where LOWER("Name")=LOWER('{locationName}')) 
        THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('{locationName}') limit 1) else null end 
        returning "ScanSubClassificationId"
        '''
        cursor.execute(pgadminQuery.replace("\n"," "))
        conn1.commit()
        data=cursor.fetchall()
        print(pgadminQuery)

        insert into "ScanSubClassification"("ScanClassificationId",
        "ScanSubClassificationName","CreatedBy","CreatedDate","ShivamScanClassificationId","Active","LocationId")
        select '50','Neonatal',6776,now(),'SC000004',true,
        case when exists(select * from "Location" where LOWER("Name")=LOWER('BOGULKUNTA'))
        THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('BOGULKUNTA') limit 1) else null end
        returning "ScanSubClassificationId"


        insert into "ScanSubClassification"("ScanClassificationId",
        "ScanSubClassificationName","CreatedBy","CreatedDate","ShivamScanClassificationId","Active","LocationId")
        select '51','Gynaec Scans',6776,now(),'SC000003',true,
        case when exists(select * from "Location" where LOWER("Name")=LOWER('BANJARA HILLS'))
        THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('BANJARA HILLS') limit 1) else null end
        returning "ScanSubClassificationId"


        insert into "ScanSubClassification"("ScanClassificationId",
        "ScanSubClassificationName","CreatedBy","CreatedDate","ShivamScanClassificationId","Active","LocationId")
        select '52','General Scans',6776,now(),'SC000005',true,
        case when exists(select * from "Location" where LOWER("Name")=LOWER('BANJARA HILLS'))
        THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('BANJARA HILLS') limit 1) else null end
        returning "ScanSubClassificationId"


        insert into "ScanSubClassification"("ScanClassificationId",
        "ScanSubClassificationName","CreatedBy","CreatedDate","ShivamScanClassificationId","Active","LocationId")
        select '53','Limited Scans',6776,now(),'SC000006',true,
        case when exists(select * from "Location" where LOWER("Name")=LOWER('HYDERGUDA-UNIT4'))
        THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('HYDERGUDA-UNIT4') limit 1) else null end
        returning "ScanSubClassificationId"


        insert into "ScanSubClassification"("ScanClassificationId",
        "ScanSubClassificationName","CreatedBy","CreatedDate","ShivamScanClassificationId","Active","LocationId")
        select '53','FM Scans',6776,now(),'SC000006',true,
        case when exists(select * from "Location" where LOWER("Name")=LOWER('HYDERGUDA-UNIT4'))
        THEN (SELECT "LocationId" from "Location" where LOWER("Name")=LOWER('HYDERGUDA-UNIT4') limit 1) else null end
        returning "ScanSubClassificationId"